<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.resource.mapper.BannerMapper">

    <resultMap id="BaseResultMap" type="com.zsh.resource.domain.Banner">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="findList" resultType="String">
        SELECT image_url FROM banner LIMIT 5;
    </select>
</mapper>
