<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.resource.mapper.DishRecLogMapper">

    <resultMap id="BaseResultMap" type="com.zsh.resource.domain.DishRecLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="upNum" column="up_num" jdbcType="INTEGER"/>
            <result property="collectNum" column="collect_num" jdbcType="INTEGER"/>
            <result property="clickNum" column="click_num" jdbcType="INTEGER"/>
            <result property="dishId" column="dish_id" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,up_num,collect_num,
        click_num,dish_id,is_deleted,
        create_time,update_time
    </sql>
</mapper>
