<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.resource.mapper.DishMapper">

    <resultMap id="BaseResultMap" type="com.zsh.resource.domain.Dish">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="materialId" column="material_id" jdbcType="BIGINT"/>
        <result property="productionLevelId" column="production_level_id" jdbcType="BIGINT"/>
        <result property="productionTimeId" column="production_time_id" jdbcType="BIGINT"/>
        <result property="isOriginal" column="is_original" jdbcType="BIT"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="typeId" column="type_id" jdbcType="BIGINT"/>
        <result property="cookTechnologyId" column="cook_technology_id" jdbcType="BIGINT"/>
        <result property="flavorId" column="flavor_id" jdbcType="BIGINT"/>
        <result property="skill" column="skill" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="publisherId" column="publisher_id" jdbcType="BIGINT"/>
        <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseDetailResultMap" type="com.zsh.resource.domain.vo.DishDetailVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="isSole" column="is_sole"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="skill" column="skill" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="materialName" column="material_name" jdbcType="BIGINT"/>
        <result property="dosage" column="dosage" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,image_url,material_id,
        production_level_id,production_time_id,is_original,
        description,type_id,cook_technology_id,
        flavor_id,skill,name,
        publisher_id,is_deleted,create_time,
        update_time
    </sql>
    <select id="getConcentrationRecContent" resultType="com.zsh.resource.domain.vo.DishConcentrationVo">
        SELECT d.id, d.name, d.image_url AS imageUrl, d.evaluate, d.create_time AS publishDate, m.username
        FROM dish AS d
        LEFT JOIN member AS m ON d.publisher_id = m.id
        WHERE d.id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </select>

    <select id="getDishDetail" resultMap="BaseDetailResultMap">
        SELECT d.id,
               d.name,
               d.image_url,
               d.is_sole,
               d.description,
               d.skill,
               u.username,
               u.id        AS user_id,
               u.image_url AS avatar,
               m.name      AS material_name,
               m.dosage
        FROM dish AS d
                 LEFT JOIN member AS u
                           ON d.publisher_id = u.id
                 LEFT JOIN material m ON d.material_id = m.id
        WHERE d.id = #{id}
    </select>
    <resultMap id="BaseResultDishByCategoryIdMap" type="com.zsh.resource.domain.vo.DishCategoryVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="publisherId" column="member_id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="clickNum" column="click_num" jdbcType="INTEGER"/>
        <result property="collectNum" column="collect_num" jdbcType="INTEGER"/>
        <result property="upNum" column="up_num" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getDishPage" resultMap="BaseResultDishByCategoryIdMap">
        SELECT d.id,
               d.name,
               d.image_url,
               m.id        AS member_id,
               m.username,
               m.image_url AS avatar,
               c.click_num,
               c.collect_num,
               c.up_num
        FROM dish AS d
                 LEFT JOIN member m ON d.publisher_id = m.id
                 LEFT JOIN dish_rec_log AS c ON d.id = c.dish_id
        WHERE d.type_id = #{categoryId}
    </select>
    <select id="getPersonDishPage" resultType="com.zsh.resource.domain.vo.personal.PersonalDishVo">
        SELECT d.id,
               d.name,
               d.image_url    AS imageUrl,
               d.publisher_id AS publisherId,
               cl.click_num   AS viewNum,
               cl.collect_num AS collectNum
        FROM dish AS d
                 LEFT JOIN dish_rec_log cl on d.id = cl.dish_id
        WHERE d.publisher_id = #{userId}
        LIMIT #{startSize}, #{pageSize}
    </select>
    <select id="getPersonNotePage" resultType="com.zsh.resource.domain.vo.personal.PersonalNoteVo">
        SELECT n.id,
               n.image_urls AS imageUrls,
               n.title,
               n.member_id  AS publisherId,
               ncl.up_num   AS upNum
        FROM note AS n
                 LEFT JOIN note_rec_log ncl on n.id = ncl.note_id
        WHERE n.member_id = #{userId}
        LIMIT #{startSize}, #{pageSize}
    </select>
    <select id="getMemberRecInfo" resultType="com.zsh.resource.domain.vo.MemberRecVo">
        SELECT id, image_url, username, nickname
        FROM member
        WHERE id IN
        <foreach  item="item" collection="list" index="index"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getMemberDetailInfo" resultType="com.zsh.resource.domain.vo.personal.MemberInfoVo">
        SELECT id,
               nickname,
               username,
               address,
               exp,
               intro,
               sex,
               fans,
               follows,
               image_url AS imageUrl
        FROM member
        WHERE id = #{memberId}
    </select>
    <select id="getTags" resultType="java.lang.String">
        SELECT tags
        FROM member
        WHERE id = #{userId}
        LIMIT 1
    </select>
</mapper>
