<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.resource.mapper.MemberNoteLogMapper">

    <resultMap id="BaseResultMap" type="com.zsh.resource.domain.MemberNoteLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="noteId" column="note_id" jdbcType="BIGINT"/>
        <result property="memberId" column="member_id" jdbcType="BIGINT"/>
        <result property="clickNum" column="click_num" jdbcType="INTEGER"/>
        <result property="isUp" column="is_up" jdbcType="TINYINT"/>
        <result property="isCollect" column="is_collect" jdbcType="INTEGER"/>
        <result property="commentNum" column="comment_num" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,note_id,member_id,
        click_num,is_up,is_collect,
        comment_num,is_deleted,create_time,
        update_time
    </sql>

    <update id="updateCollectType">
        UPDATE member_note_log
        SET is_collect = #{type}
        WHERE note_id = #{noteId}
          AND member_id = #{memberId}
    </update>
    <update id="updateUpType">
        UPDATE member_note_log
        SET is_up = #{type}
        WHERE note_id = #{noteId}
          AND member_id = #{userId}
    </update>
    <select id="getNoteCollectPage" resultType="com.zsh.resource.domain.vo.personal.PersonalNoteVo">
        SELECT n.title,
               n.image_urls AS imageUrls,
               n.id,
               n.member_id  AS publisherId,
               drl.up_num   AS upNum
        FROM member_note_log AS mnl
                 LEFT JOIN note AS n ON mnl.note_id = n.id
                 LEFT JOIN note_rec_log drl on n.id = drl.note_id
        WHERE mnl.member_id = #{userId}
          AND mnl.is_collect = 1
        LIMIT #{startSize}, #{pageSize}
    </select>
</mapper>
