<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.resource.mapper.TypeMapper">

    <resultMap id="BaseResultMap" type="com.zsh.resource.domain.Type">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,name,parent_id,
        is_deleted,create_time,update_time
    </sql>
    <update id="saveTag">
        UPDATE member
        SET tags = #{result}
        WHERE id = #{userId}
    </update>
    <select id="getSearchSuggests" resultType="com.zsh.resource.domain.vo.SuggestVo">
        SELECT id,
               name AS value
        FROM type
        WHERE type_level = 3 AND name LIKE CONCAT('%',#{content},'%')
        LIMIT #{size}
    </select>

</mapper>
